                <div class="col-lg-9 add-user-form">                
                <!-- Start Change Password Form -->
                <h2 class="content-heading">Change Password</h2>
                <div class="block">
                    <div class="block-content block-content-narrow">
                        <form class="js-validation-material form-horizontal push-10-t" ng-submit="changePassword()" action="" method="post">                                                                                              
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <div class="form-material">
                                        <input id="old-password" placeholder="Current password.."  type="password" maxlength="25" required class="form-control" ng-model="password" minlength="5">
                                        <label for="old-password">Current Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <div class="form-material">
                                        <input id="new-password" placeholder="New password.."  type="password" maxlength="25" required class="form-control" ng-model="newPassword1" minlength="5">
                                        <label for="new-password">New Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <div class="form-material">
                                        <input id="retype-password" placeholder="Retype new password.." type="password" maxlength="25" required class="form-control" ng-model="newPassword2" minlength="5">
                                        <label for="retype-password">Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button class="btn btn-sm btn-primary add-user-fom-submit" type="submit">Change Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                               
                <!-- End Change Password Form -->
                </div>